<!DOCTYPE html>
<html>
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
	<link href="assets/styles/styles.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="app.js"></script>
	
	<title>Shopping List</title>
</head>


<body ng-app="ShoppingList">
	<div ng-controller="ListController as ctlr" class="long1">
		<div class="container col-md-4 col-md-offset-3 long">
			
				<div class="blue_header">

					<!-- EXERCISE 1: Put the variable for your name here -->
					<h3></h3>


				</div>

				<div>	

					<div class="goal_container" ng-repeat="shoppingItem in ctlr.shoppingList">
						<div class="col-md-3"><h3>{{shoppingItem.item}}</h3></div>

						<!-- EXERCISE 2: Similar to the line above, fill in the fields for displaying the quantity and price -->
						<div class="col-md-3"><!-- Put Price here --> </div>
						<div class="col-md-3"> X </div>
						<div class="col-md-3"><!-- Put Quantity here --></div>

					</div>

					<div style="clear:both; text-align:right;">
						<strong> Total : {{ctlr.calculateTotal() | currency:'$':2}}</strong>
					</div>
				</div>
		</div>

	<div class="container col-md-2 left-col">
			<div>

				<br/>
				<br/>
				<div>
					<form role="form">
						<div class="form-group col-md-12">
							<label for="email">Enter Name:</label>
							<input ng-model="ctlr.name" type="text" class="form-control" id="goal">
						</div>
						<div class="form-group col-md-12">
							<label for="email">Enter Item:</label>
							<input ng-model="ctlr.newItem" type="text" class="form-control" id="goal">
						</div>
						<div class="form-group col-md-6">
							<label for="pwd">Quantity:</label>
							<input ng-model="ctlr.quantity" type="number" class="form-control" id="gStart">
						</div>
						<div class="form-group col-md-6">
							<label for="pwd">Price:</label>
							<input ng-model="ctlr.price" type="number" class="form-control" id="gEnd">
						</div>
						<button ng-click="ctlr.addItem()" class="btn btn-default">Add</button>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>

</html>